@media screen and (min-width: 320px) {
    .icon-box {
        display: none;
    }
}

.about-us {
    padding-top: 96px;
    padding-bottom: 96px;
    display: block;
}

.list-about-us {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 72px;
}

.list-title-about-us {
    font-family: "Roboto",
        sans-serif;
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}
.text-about-us {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .list-about-us {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }
    
    .list-box {
        width: calc((100% - 48px) / 2);
    }

    .list-title-about-us {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .about-us {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .list-about-us {
        gap: 24px;
    }

    .list-box {
        width: calc((100% - 72px) / 4);
    }

    .icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        background: #F4F4FD;
    }

    .list-title-about-us {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-top: 8px;
        }
}


