@media screen and (min-width: 320px) {

}

.popup {
    position: fixed;
    background-color: rgba(46, 47, 66, 0.40);
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.popup-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    padding-top: 72px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-popup-close {
    display: flex;
    position: absolute;
    stroke: #2E2F42;
    fill: #2E2F42;
    align-items: center;
    justify-content: center;
    padding: 0;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    line-height: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-popup-close:hover,
.icon-popup-close:focus {
    stroke: #FFFFFF;
    fill: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid rgb(64, 75, 191);
    border-radius: 50%;
    border: none;
}

.icon-popup {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.form-wrapper {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    color: #8E8F99;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17em;
    letter-spacing: 0.04em;
    flex-direction: column;
    width: 100%;
    margin-bottom: 4px;
}

.review-form-input-wrapper {
    position: relative;
    margin-bottom: 8px;
}

.form-input {
    padding-left: 38px;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
    border-radius: 4px;
    border: 1px solid #4D5AE5;
    outline: transparent;
}

.form-input-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover+.form-input-icon {
    fill: #4D5AE5;
}

.form-input:focus+.form-input-icon {
    fill: #4D5AE5;
}

.form-comment {
    margin-bottom: 16px;
}

.form-input-comment {
    font-size: 12px;
    line-height: 1.17em;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.40);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-comment:hover,
.form-input-comment:focus {
    border-radius: 4px;
    border: 1px solid #4D5AE5;
    outline: transparent;
}

.textarea::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16em;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.40);
}

.review-form-checkbox-label {
    color: #8E8F99;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17em;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
}

.review-form-checkbox:checked+.review-form-checkbox-label>.review-form-own-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.review-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy {
    color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16em;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    cursor: pointer
}

.button-popup {
    display: block;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 0;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-popup:hover,
.button-popup:focus {
    background-color: #404BBF;
    border: none;
}

@media screen and (min-width: 768px) {
    .popup-body {
            width: 408px;
            min-height: 584px;
            padding-right: 24px;
            padding-left: 24px;
        }
}
