body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}

.link {
    text-decoration: none;
    color: #2E2F42;
}

